@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&family=Poiret+One&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.0);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.0);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.);
		transform: translatey(0px);
	}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1em;
}

body {
  margin: 0;
  background-color: #fefefe;
  /*background-image: linear-gradient(215deg, #101010 0%, #181818 26%, #010101 90%); */
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 17px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poiret One", cursive;
}

header .logo {
  font-weight: 500;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header .navigation {
  display: inline-flex;
  flex-flow: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
}

header ul li {
  list-style: none;
  margin-left: 20px;
  font-weight: 400;
  font-size: 0.8em;
}

header ul li a {
  padding: 6px 15px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

a::before,
a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

a::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a::after {
  content: attr(data-replace);
  font-size: 1.1em;
  padding-left: 15px;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
}

a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

a:hover::after {
  transform: translate3d(0, 0, 0);
}

a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
  transform: translate3d(-200%, 0, 0);
}

.landing-container {
  color: #FFF;
  height: 80%;
  width: 92%;
  margin-top: 85px;
  margin-left: 60px;
  font-family: "Markazi Text", serif;
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 2)), url('./images/jonggak1.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.landing-container h1 {
  font-size: 5em;
  font-weight: 500;
  padding-top: 165px;
  padding-left: 80px;
  text-shadow: 3px 3px 5px #040404;
}

.landing-container h2 {
  font-size: 2.7em;
  font-weight: 400;
  padding-left: 95px;
}

.landing-container #developer {
  height: 400px;
  width: 400px;
  margin-left: 750px;
  margin-top: -250px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  overflow: hidden;
}

.section-about {
  border-style: dotted;
  border-color: #000;
  height: 80%;
  width: 92%;
  margin-left: 60px;
  margin-top: 75px;
  overflow: hidden;
}

.section-about #camera{
  height: 90px;
  width: 100px;
  margin-top: -100px;
  margin-left: -150px;
}

.section-about #motorbike{
  height: 120px;
  width: 130px;
  margin-left: 2200px;
}

.section-about h4 {
  font-size: 2em;
  padding-top: 100px;
  padding-left: 20px;
}

.section-about p {
  font-size: 1em;
  padding-left: 20px;
}

.section-projects {
  border-style: dotted;
  border-color: #000;
  height: 80%;
  width: 92%;
  margin-left: 60px;
  margin-top: 75px;
  overflow: hidden;
}

.section-projects h4 {
  font-size: 2em;
  padding-top: 100px;
  padding-left: 20px;
}

.section-projects p {
  font-size: 1em;
  padding-left: 20px;
}

.section-contact {
  border-style: dotted;
  border-color: #000;
  height: 80%;
  width: 92%;
  margin-left: 60px;
  margin-top: 75px;
  overflow: hidden;
}

.section-contact h4 {
  font-size: 2em;
  padding-top: 50px;
  padding-left: 20px;
}

.section-contact p {
  font-size: 1em;
  padding-left: 20px;
}
