@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Markazi+Text:wght@600&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
}

body {
  margin: 0;
  background-color: #262626;
  background-image: linear-gradient(225deg, #262626 0%, #181818 46%, #030303 100%);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header .navigation {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
}

header ul li {
  color: #FFF;
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #FFF;
}

.landing-container {
  background-color: #FFF;
  box-shadow: inset 0 0 4px #000000;
  height: 73%;
  width: 87%;
  margin: 91px;
}

.landing-container h1 {
  font-size: 4em;
  padding-top: 150px;
  padding-left: 20px;
}

.landing-container h3 {
  font-size: 1.5em;
  padding-left: 25px
}

.section-about {
  color: #FFF;
  height: 73%;
  width: 87%;
  margin: 91px;
}

.section-about img {
  height: 120px;
  width: 160px;
  margin-left: -350px;
}

.section-about h4 {
  font-size: 2em;
  padding-top: 100px;
  padding-left: 20px;
}

.section-about p {
  font-size: 1em;
  padding-left: 20px;
}

.section-projects {
  color: #FFF;
  height: 73%;
  width: 87%;
  margin: 91px;
}

.section-projects h4 {
  font-size: 2em;
  padding-top: 100px;
  padding-left: 20px;
}

.section-projects p {
  font-size: 1em;
  padding-left: 20px;
}

.section-contact {
  color: #FFF;
  height: 50%;
  width: 87%;
  margin: 91px;
}

.section-contact h4 {
  font-size: 2em;
  padding-top: 50px;
  padding-left: 20px;
}

.section-contact p {
  font-size: 1em;
  padding-left: 20px;
}
