@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600;700&family=Bangers&family=El+Messiri:wght@400;500&family=Markazi+Text:wght@400;500;600;700&family=Poiret+One&family=Zen+Tokyo+Zoo&display=swap');

* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #fefefe;
}

header {
  grid-area: header;
  padding-top: 1.9vh;
  padding-left: 1.5vh;
}

.logo {
  grid-area: logo;
  font-family: 'Zen Tokyo Zoo', cursive;
  text-shadow: 2px 3px 6px rgba(0,0,0,0.41);
  text-decoration: none;
  font-size: 1.5em;
}

.navigation {
  grid-area: navigation;
  font-family: "Poiret One", serif;
  /* padding-right: 8vw; */
  display: inline-flex;
  flex-flow: wrap;
  list-style: none;
  float: right;
}

header ul li a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding-right: 0.8em;
  padding-top: 1vh;
}

a, a:visited {
  color: inherit;
}

a::before,
a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

a::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a::after {
  content: attr(data-replace);
  font-size: 1em;
  padding-left: 15px;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
}

a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

a:hover::after {
  transform: translate3d(-20%, 0, 0);
}

a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
  transform: translate3d(-200%, 0, 0);
}

.landing-container {
  grid-area: landing;
  background: radial-gradient(rgba(0, 0, 0, 3), rgba(0, 0, 0, 0.1)), url('./images/jonggak1.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  height: 93vh;
  margin-top: 1.5vh;
}

.ray {
  padding: 30vh 7vh;
  font: normal 40px/50px "Montserrat", sans-serif;
  color: #999;
}

.ray p {
  height: 30px;
  float: left;
  margin-right: 0.3em;
  color: #FFF;
}

.ray b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.ray .innerIam {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 10s;
   -moz-animation:move 10s;
    -ms-animation:move 10s;
     -o-animation:move 10s;
        animation:move 10s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:2s;
   -moz-animation-delay:2s;
    -ms-animation-delay:2s;
     -o-animation-delay:2s;
        animation-delay:2s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

.about {
  grid-area: about;
  background: radial-gradient(rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.1)), url('./images/leaves.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  height: 100vh;
  color: #FFF;
  font-family: "Bangers", sans-serif;
}

.about {
  font-size: 6vw;
}

.about #about-me {
  text-align: center;
  position: relative;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  /* position: absolute; */
  top: 50%;
  transform:translate(0, -50%);
}

.about #accent {
  font-size: 11vw;
  color: #EF3534;
}

.wrapper > .projects {
  grid-row: 4/10;
  grid-column: 1/5;
  background-color: #FFF;
}

.projects h1 {
  margin-top: -1vh;
  font-size: 4.3em;
  text-align: center;
  position: sticky;
  z-index: 1;
  top: 50%;
  font-family: "Markazi Text", sans-serif;
  text-shadow: 2px 3px 5px rgba(37,16,10,0.61);
}

.project-1 {
  grid-area: project-1;
  overflow: hidden;
  height: 73vh;
  position: relative;
  margin-top: 2vh;
}

#pro1, #pro2, #pro3, #pro4, #pro5, #pro6 {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  width: 80vw;
  position: absolute;
  top: 51%;
  transform:translate(12%, -50%);
  z-index: 10;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 0.5vh;
}

.project-2 {
  grid-area: project-2;
  overflow: hidden;
  height: 73vh;
  position: relative;
}

.project-3 {
  grid-area: project-3;
  overflow: hidden;
  height: 73vh;
  position: relative;
}

.project-4 {
  grid-area: project-4;
  overflow: hidden;
  height: 73vh;
  position: relative;
}

.project-5 {
  grid-area: project-5;
  overflow: hidden;
  height: 73vh;
  position: relative;
}


.project-6 {
  grid-area: project-6;
  overflow: hidden;
  height: 73vh;
  position: relative;
}

.contact {
  grid-area: contact;
}

.footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "landing landing"
    "about about"
    "project-1 project-1"
    "project-2 project-2"
    "project-3 project-3"
    "project-4 project-4"
    "project-5 project-5"
    "project-6 project-6"
    "contact contact"
    "footer footer";
}

/* Tablets */
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header header header header"
      "landing landing landing landing"
      "about about about about"
      "project-1 project-1 project-2 project-2"
      "project-3 project-3 project-4 project-4"
      "project-5 project-5 project-6 project-6"
      "contact contact contact contact"
      "footer footer footer footer"
  }

  .about {
    position: relative;
    font-size: 6vh;
  }

  .about #accent {
    font-size: 8vh;
  }

  .project-1, .project-2 {
    margin-top: 3vh;
  }

  #pro1, #pro2, #pro3, #pro4, #pro5, #pro6 {
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    width: 42vw;
    position: absolute;
    top: 50%;
    transform:translate(9%, -50%);
    border-radius: 0.5vw;
  }
}

/* desktop */
@media (min-width: 800px) {
  .wrapper {
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas:
      "header header header"
      "landing landing landing"
      "about about about"
      "project-1 project-2 project-3"
      "project-4 project-5 project-6"
      "contact contact contact"
      "footer footer footer"
  }

  .ray b {
    position: inherit;
  }

  .about {
    font-size: 6vh;
  }

  .about #about-me {
    margin-top: 1vh;
  }

  .about #accent {
    font-size: 9vh;
  }

  .project-3 {
    margin-top: 3vh;
  }

  #pro1, #pro2, #pro3, #pro4, #pro5, #pro6 {
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 55vh;
    width: 27vw;
    position: absolute;
    top: 55%;
    transform:translate(12%, -50%);
  }

  .project-1, .project-2, .project-3, .project-4, .project-5, .project-6 {
    height: 70vh;
  }
}
